@page
@model MamaWash.Pages.Beneficiary.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiaries[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiaries[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiaries[0].BankID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiaries[0].RecipientCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beneficiaries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
