@page
@model MamaWash.Pages.Beneficiaries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary[0].Bank.Bank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beneficiary) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.Bank)
            </td>
        </tr>
}
    </tbody>
</table>
